<!DOCTYPE html>
<html lang="en">

<head>
	<title>My Online Python Editor</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="Online, Python, Editor">
	<meta name="description" content="Online Python Editor">
	<meta name="author" content="David Art">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="{{ url_for('static', filename='mope.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	<!-- ACE EDITOR -->
	<script src="{{ url_for('static', filename='ace/ace.js') }}"></script>
	<script src="{{ url_for('static', filename='ace/ext-inline_autocomplete.js') }}"></script>
	<script src="{{ url_for('static', filename='ace/keybinding-vscode.js') }}"></script>
	<script src="{{ url_for('static', filename='ace/mode-python.js') }}"></script>
	
	<!-- JQUERY -->
	<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
	<!-- SOCKETIO -->
	<script src="{{ url_for('static', filename='socket.io/socket.io.js') }}"></script>

</head>

<body>
	<div class="app">

		<div class="col sidebar" id="sidebar_bar" >
			<div class="sidebar_box align-items-center">
				<img class="editor-logo" src="{{ url_for('static', filename='img/python.svg') }}" alt="Editor logo">
				
				<button id="bt_files" class="sidebar_button hidden" type="button">
					<img src="{{ url_for('static', filename='img/files.svg') }}" alt="files" />
				</button>
				
				<button id="bt_settings" class="sidebar_button" type="button">
					<img src="{{ url_for('static', filename='img/settings.svg') }}" alt="settings" />
				</button>
				
				<button id="toggle_sidebar" class="sidebar_button hidden" type="button">
					<img src="{{ url_for('static', filename='img/toggle.svg') }}" alt="toggle" />
				</button>

			</div>
		</div>


		<div class="col sidebar_panel hidden" id="sidebar_panel">
			<div class="sidebar_box">
				<div id="panel_files">
					<h1>Project files</h1>
					<button id="add_file" class="bt_green bt_big">Add file +</button>
					<button id="bt_download" class="bt_green bt_big">Download</button>
					<hr />
					<div id="list_files" class="list_files">
						<button class="bt_big bt_dark bt_file selected">main.py</button>
						<button class="bt_big bt_dark bt_file">test.py</button>
						<button class="bt_big bt_dark bt_file">sysinfo.py</button>
					</div>
				</div>

				<div id="panel_settings">
					<h1>Settings</h1>
					<label class="align-left font-light" for="editor_theme">Theme</label>
					<select name="editor_theme" id="editor_theme">
						<option value="dracula">dracula</option>
						<option value="twilight">twilight</option>
						<option value="monokai">monokai</option>
						<option value="nord_dark">nord_dark</option>
						<option value="one_dark">one_dark</option>
						<option value="tomorrow_night">tomorrow_night</option>
					</select>
					
					<label class="align-left font-light">Font size</label>
					<button id="bt_font_m" class="btn bt_dark">-</button>
					<span id="editor_font_size" class="font-light"> xxx </span>
					<button id="bt_font_p" class="btn bt_dark">+</button>
					
				</div>
			</div>

		</div>


		<div class="col" id="editor_box">
			<header>

				<div class="col_name">EDITOR</div>
				<div id="editor_filename" class="editor_filename">main.py</div>

				<div id="socket_io" class="tooltip">
					<span id="socketio_status"></span>
					<div class="tooltip">
					<span class="tooltiptext">SocketIO Status</span>
					</div>
				</div>

				<button id="bt_run" class="btn bt_blue" disabled>run</button>
				<button id="bt_dbg" class="btn bt_dark hidden">dbg</button>

				<img id="bt_output_toggle" src="{{ url_for('static', filename='img/toggle.svg') }}" alt="toggle" />
					
			</header>
			<div id="editor" contenteditable="true" spellcheck="false"></div>
		</div>
		
		<div class="col" id="output_box">
			<header>
				<div class="col_name">OUTPUT</div>
				<button id="bt_clear" class="btn bt_green">clear</button>
			</header>
			<div id="output"></div>
		</div>

	</div>


<!-- The Modal -->
<div id="modal_addfile" class="modal">
  <!-- Modal content -->
	<div class="modal-content">
		<span id="modal_close" class="close">&times;</span>
		<div class="modal-content__header">
			<h2 class="font-dark">Add a new file ...</h2>
		</div>
		<div class="modal-content__body">
			<div class="modal-content__input-section">
				<label for="new_filename">Name your file</label>
				<div class="modal-content__input">
					<input type="text" id="new_filename" value="">
				</div>
			</div>
		</div>
		<div>
			<span id="add_file_error" class="error"></span>
		</div>
		<div class="align-right modal-content__buttons">
			<button id="bt_mod_add_file" class="btn bt_blue btn--primary"><span>Add file</span></button>
		</div>
	</div>
</div>



<!-- APP.JS -->
<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
