/*
	CSS - My Online Python Editor
	by David Art [aka] ADcomp
*/

/* ALL RESET */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
	margin: 0 auto;
	padding: 0; 
	background: black;
	font-family: "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans",sans-serif;
	font-size: 12px;
	line-height: 1;
}

h1, h2, h3 { margin-bottom: 10px; padding: 4px; }
hr { margin: 8px 0; }


/* TABLE & COLUMN */
.app {
	display:table;
	background-color: black;
	width:100%;
	height:100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.col {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height:100%;	/* need for firefox ? */
	display:table-cell;
	vertical-align: top;
}


/* SIDEBAR */
.sidebar { background: #212121; width: 64px; border-right: 2px solid #111; }

.sidebar_panel { background: #2C2C2C; width: 256px; border-right: 2px solid #111; }

.sidebar_panel h1 { color: #eee; height: 48px; padding: 10px; }

.sidebar_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 4px;
}

.sidebar_button {
	background: none;
	align-items: center;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	min-block-size: 44px;
	min-inline-size: 44px;
	padding: 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
	margin: 10px 0;
}

.sidebar_box button:hover {	background: #4A4D59; border-color: #787878; }


.editor-logo {
	width: 34px;
	height: 34px;
	display: initial;
	margin-top: 4px;
	margin-bottom: 8px;
}


#editor_box {
	background-color:#222;
	width:60%;
	min-width:20%;
	resize: horizontal;
	overflow: auto;
	border: 1px solid #111;
}

#output_box {
	background-color:#222;
	overflow: auto;
	border: 1px solid #111;
}

.col header {
	display: flex;
	align-items: center;
	color: #eee;
	background: #212121;
	margin: 0;
	height: 48px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

.col_name, .editor_filename {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 96px;
	color: #eee;
	background: #212121;
	border-right: 1px solid #666;
	font-size: 14px;
}

/* HEADER BUTTON */
.col header button {
	margin: 0;
	min-width: 64px;
	height: 34px;
	border-radius: 4px;
	margin: 0 8px;
	cursor: pointer;
	outline: none;
	color: #eee;
	font-family: 'Euclid Circular A', sans-serif;
	font-style: normal;
	font-weight: bold;
}

.col header button:active { box-shadow: 0 2px #444; transform: translateY(1px); }


/* COLOR BUTTON */
.bt_blue { background: #0556f3;	border: 1px solid dodgerblue; }
.bt_blue:hover { border: 1px solid midnightblue; }
.bt_blue:active { background-color: dodgerblue; }

.bt_green { background: #078D07; border: 1px solid yellowgreen; }
.bt_green:hover { border: 1px solid darkgreen; }
.bt_green:active { background-color: mediumseagreen; }

.bt_dark { background: #2C2C2C; border: 1px solid #3B3B3B; }
.bt_dark:hover { border: 1px solid #2A2A2A; }
.bt_dark:active { background-color: #212121; }


/* EDITOR & OUTPUT */
#editor, #output {
	height: calc(100% - 48px);
	width: 100%;
	margin: 0;
	padding: 4px;
	font-family: Consolas, monospace;
	font-size: 14px;
	background: #282828;
	box-sizing: border-box;
}


/* OUTPUT */
#output p {
	max-width: 99%;
	margin: 0;
	padding: 2px;
	color: #eee;
}

#output p.end{ color: #829482; }
#output p.error{ color: #A83636; }


/* SocketIO STATUS */
#socket_io {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

#socketio_status { width: 16px; height: 16px; border-radius: 6px;}
.connected { background: #00AA00; border: 2px solid #0C670C; }
.disconnected { background: #AA0000; border: 2px solid darkred; }

.list_files {}

#add_file {
	display: block;
	width: 90%;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 8px;
	border-radius: 8px;
	text-align: left;
	padding-left: 16px;
}

.list_files button {
	display: block;
	width: 90%;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 8px;
	border-radius: 8px;
	text-align: left;
	padding-left: 16px;
}

/* ALIGN RIGHT */
#bt_output_toggle { margin-left: auto; width: 34px; height: 34px; padding: 7px; }

#editor_theme {
	height: 36px;
	margin: 4px;
	padding: 0 6px;
	text-align: center;
	background: #2C2C2C;
	color: #FFFFFF;
	border: 1px solid #292E3B;
	border-radius: 4px;
}

.hidden { display: none; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

