/*
	CSS - My Online Python Editor
	by David Art [aka] ADcomp
*/

:root {  
  --red: #dc143c;
  --red-light: #ff6347;
  --red-dark: #800000;
  
  --green: #078D07;
  --green-light: mediumseagreen;
  --green-dark: darkgreen;
  
  --blue: #0556f3;
  --blue-light: dodgerblue;
  --blue-dark: midnightblue;
  
  --yellow: #ffd700;
  --yellow-light: #FFFF6D;
  --yellow-dark: #FFBB00;
  
  --purple: #663399;
  --purple-light: #6a5acd;
  --purple-dark: #4b0082;

  --dark-gray: #666;
  --dark-lighter: #444;
  --dark-light: #333;
  --dark: #222;
  --darker: #111;

  --font-light: #eee;
  --font-dark: #222;

  --bg-light: #eee;
  --bg-dark: #333;



  --beige: #ffeead;
  --yellow: #ffcc5c;
}

/* ALL RESET */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
	margin: 0 auto;
	padding: 0; 
	background: var(--darker);
	font-family: "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans",sans-serif;
	font-size: 12px;
	line-height: 1;
}

h1, h2, h3 { text-align: left; margin-bottom: 10px; color: var(--font-light); }
hr { border-color: var(--dark-lighter); margin: 8px 0; }
label { display: block; margin: 8px 0; }
input { display: block; margin: 8px 0; }


.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.font-light { color: var(--font-light); }
.font-dark { color: var(--font-dark); }
.bg-dark { background: var(--bg-dark); }
.bg-light { background: var(--bg-light); }
.align-items-center { align-items: center; }

/* TABLE & COLUMN */
.app {
	background: var(--dark);
	width:100%; height:100%;
	padding: 0; margin: 0;
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.col {
	box-sizing: border-box;
	padding: 0; margin: 0;
	height:100%;	/* need for firefox ? */
}


/* SIDEBAR */
.sidebar { background: var(--dark); width: 52px; border-right: 2px solid var(--darker); }

#toggle_sidebar img { transform: rotate(180deg); }

.sidebar_panel { background: var(--dark); width: 256px; border-right: 2px solid var(--darker); }

.sidebar_panel h1 { color: var(--font-light); height: 48px; padding: 10px; }

.sidebar_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px;
}

.sidebar_button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 4px;
	cursor: pointer;
	margin: 10px 0;
}

.sidebar_button:hover {	background: var(--dark-lighter); border-color: var(--dark-gray); }


.editor-logo {
	width: 34px; height: 34px;
	margin-top: 4px; margin-bottom: 8px;
}


#editor_box {
	width: 50%;
	min-width: 500px;
	overflow: auto;
	border: 1px solid #111;
	resize: horizontal;
	/* flex-grow flex-shrink flex-basis */
	flex: 1 0 auto;
}

#output_box, #pythondoc_box {
	overflow: auto;
	border: 1px solid #111;
	/* flex-grow flex-shrink flex-basis */
	flex: 2 1 0;
}

/* iframe */
#pythondoc_box { border: none; }

.col header {
	display: flex;
	align-items: center;
	height: 48px;
	color: var(--font-light);
	border-top: 1px solid var(--dark);
	border-bottom: 2px solid var(--darker);
}

.col_name, .editor_filename {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 96px;
	border-right: 1px solid var(--dark-gray);
	font-size: 14px;
}

/* HEADER BUTTON */
.btn {
	margin: 0;
	min-width: 64px;
	height: 34px;
	border-radius: 4px;
	margin: 0 8px;
	padding: 0 14px;
	cursor: pointer;
	outline: none;
	color: var(--font-light);
	font-style: normal;
	font-weight: bold;
}

.btn:active { box-shadow: 0 2px var(--dark-light); transform: translateY(1px); }
.btn:disabled,
.btn[disabled]{ color: var(--red); background: var(--dark); }


.selected {
	border-left: 2px solid var(--blue) !important; 
}

/* COLOR BUTTON */
.bt_blue { color: var(--font-light); background: var(--blue);	border: 1px solid var(--blue-light); }
.bt_blue:hover { border: 1px solid var(--blue-dark); }
.bt_blue:active { background: var(--blue-light); }

.bt_green { color: var(--font-light); background: var(--green); border: 1px solid var(--green-light); }
.bt_green:hover { border: 1px solid var(--green-dark); }
.bt_green:active { background: var(--green-light); }

.bt_red { color: var(--font-light); background: var(--red); border: 1px solid var(--red-light); }
.bt_red:hover { border: 1px solid var(--red-dark); }
.bt_red:active { background: var(--red-light); }

.bt_yellow { color: var(--font-dark); background: var(--yellow); border: 1px solid var(--yellow-light); }
.bt_yellow:hover { border: 1px solid var(--yellow-dark); }
.bt_yellow:active { background: var(--yellow-light); }

.bt_purple { color: var(--font-light); background: var(--purple); border: 1px solid var(--purple-light); }
.bt_purple:hover { border: 1px solid var(--purple-dark); }
.bt_purple:active { background: var(--purple-light); }

.bt_dark { color: var(--font-light); background: var(--dark-light); border: 1px solid var(--dark-lighter); }
.bt_dark:hover { border: 1px solid var(--dark-light); }
.bt_dark:active { background: var(--dark-lighter); }


/* EDITOR & OUTPUT */
#editor, #output, #python_doc {
	height: calc(100% - 52px);
	width: 100%;
	padding: 4px;
	font-family: Consolas, monospace;
	font-size: 14px;
	overflow: auto;
}


/* OUTPUT */
#output p {
	max-width: 99%;
	padding: 2px;
	color: var(--font-light);
}

#output p.end{ color: var(--dark-gray); }
#output p.error{ color: var(--red); }


/* SocketIO STATUS */
#socket_io {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

#socketio_status { width: 16px; height: 16px; border-radius: 6px;}
.connected { background: var(--green); border: 2px solid #0C670C; }
.disconnected { background: var(--red); border: 2px solid darkred; }

#panel_settings {
	text-align: center;
}

.list_files {}

.bt_big {
	display: block;
	width: 90%; height: 40px;
	margin: 0 auto;
	margin-bottom: 8px;
	border-radius: 8px;
	text-align: left;
	padding-left: 16px;
}

/* ALIGN RIGHT */
#bt_output_toggle,
#bt_fullscreen,
#bt_show_doc
 { width: 38px; height: 38px; padding: 7px; }

.push_right { margin-left: auto; }

#editor_theme {
	width: 90%;
	height: 36px;
	margin: 4px; padding: 0 6px;
	text-align: center;
	background: var(--dark-light);
	color: var(--font-light);
	border: 1px solid var(--dark-lighter);
	border-radius: 4px;
}

.hidden { display: none; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid var(--darker);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: var(--dark-light);
  color: var(--font-light);
  text-align: center;
  border-radius: 6px;
  padding: 8px 4px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  font-size: 15px;
}

.modal-content__input input { 
	width: 100%;
	height: 36px; 
	border: 1px solid var(--dark);
	border-radius: 4px;
	padding: 6px;
	font-size: 16px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.error {
	color: var(--red);
	font-size: 16px;
	font-weight: bold;
}

/* EDITOR breakpoint */
.ace_gutter-cell.ace_breakpoint{ 
    box-shadow: 0px 0px 2px 1px var(--yellow) inset; 
	background: #ff6600;
	background: linear-gradient(90deg,rgba(255, 102, 0, 1) 0%, rgba(255, 185, 71, 1) 9%, rgba(0, 0, 0, 0) 10%);

}
